@{
    ViewData["Title"] = "Home Page";
}
<a href="/">Go Back</a>
<h1>All Reviews So Far...</h1>
<hr>
@{
    foreach(var rev in ViewBag.Reviews)
    {
        <p>Review for: @rev.ResName</p>
        <p>@rev.Stars Star(s)</p>
        <p>Reviewer: @rev.RevName, @rev.DateVisited.ToString("MMMM dd, yyyy")</p>
        <blockquote>@rev.Content</blockquote>
        <hr>
    }
}